# H1 Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
- Languages for data science
- Libraies used for Data Science
- Data science Tools

Some of the popular languages that Data Scientists use are:


    1. Python
    2. R
    3. Scala
    4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2.  Pytorch
3. Heras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Ananconda|

# H3 Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
r =(3*4)+5
r

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

# H2 Author

ANDROW LAUREEN POUNGOUE